@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>AspNetCore Webapp SAML authentication using Sustainsys.Saml2 .NET library.</h3><br /><br /><br />
    
    <p>@Model.ResponseFromAuthenticatedAPI</p>
</div>
